:root{
  --heart-rate-bg:#0B1D0A;
  --default-body-color: #ccc;
  --heart-rate-hue: 110;
  --heart-rate-font-size: 25rem;
}

html, body {
  box-sizing: border-box;
  font-size: 10px;
  margin:0;
  padding:0;
  background:var(--default-body-color);
  width: 100vw;
  height: 100vh;
}

body{
  display: flex;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.content{
  flex:1;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
}

.heart{
    background-color:var(--heart-rate-bg);
    color: hsl(var(--heart-rate-hue), 68%, 52%);
    flex: 1;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 0;
    border: none;
}

.heart svg{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.heart canvas{
  flex: 1;
  width: 100%;
}

.heart.animate{
  stroke-dasharray: 200 1010;
  stroke-dashoffset: 200;
}

.heart>div{
  display: flex;
  align-items: baseline;
  font-family: monospace;
  padding: 0 2rem;
}

.heart .value{
  color: hsl(var(--heart-rate-hue), 68%, 52%);

  font-size: var(--heart-rate-font-size);
  
}

.bpm{
  display: none;
}

.heart.animate .bpm{
  display: inline-block;
  font-size: calc(var(--heart-rate-font-size)/2);
}

@media (orientation: landscape){
  :root{
    --heart-rate-font-size:15rem;
  }
}