.article-card-header{
    box-shadow: var(--card-box-shadow);
    margin: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    text-decoration: initial;
    background-color: var(--white);
}

.offline .article-card-header{
  background-color: var(--offline-gray-pane);
}

.offline .article-card-header.offline-available{
  background-color: var(--offline-available);
}

.title {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 2.2rem;
}

.article-card-header .title.loading {
  animation: placeHolderShimmer 1.5s forwards infinite linear;
  color: transparent;
  background: var(--loading-gradient);
  background-size: 200rem 1rem;
}

.offline .save-for-offline{
  display: none;
}

.offline .save-for-offline.content-available{
  display: block;
}

.offline .save-for-offline.content-available.offline-available{
  display: none;
}

.last-update{
  display: none;
}

.offline .last-update{
  display: block;
}

.article-card-header .title.last-update{
  flex-grow: auto;
  margin-left: auto;
  margin-right: 1rem;
}