:root{
  --heart-rate-bg:#0B1D0A;
  --default-body-color: #ccc;
  --heart-rate-hue: 110;
  --heart-rate-font-size: 25rem;
  --heart-icon-color: red;
  --heart-top-position: -5rem;
  --heart-size: 7rem;
  --animation-duration: 1000;
}

html, body {
  box-sizing: border-box;
  font-size: 10px;
  margin:0;
  padding:0;
  background:var(--default-body-color);
  width: 100vw;
  height: 100vh;
}

body{
  display: flex;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.content{
  flex:1;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
}

.content heart-monitor{
  flex:1;
  display:flex;
}