:root{
  --toaster-base-line: 1rem;
  --toaster-background: rgba(255, 156, 5, 0.78);
  --toaster-shadow: rgba(0, 0, 0, 0.3);
}

.toast-container {
  position: fixed;
  padding: calc(var(--toaster-base-line) * 2 );
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.toast {
  transition: opacity 1s cubic-bezier(0, 0, 0.3, 1);
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  margin-top: calc(var(--toaster-base-line) * 2 );
  pointer-events: none;
  display: flex;
  justify-content: flex-start;
}

.toast__content {
  padding: calc(var(--toaster-base-line) * 2 ) calc(var(--toaster-base-line) * 3 );
  background: var(--toaster-background);
  color: var(--white);
  border-radius: 2px;
  display: inline;
  box-shadow: 0 3px 5px var(--toaster-shadow);
}

.toast--dismissed {
  opacity: 0;
}